<h1>This will be an index of all users</h1>

<% @users.each do |user| %>
	<%= user.id %>
	<%= user.email %>
	<%= link_to "Show" , user_path(user.id) %>
<% end %> 

<% if flash[:notice]  %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>


<h5> Current User is: <%= current_user.id %></h5> 
