<%= @user.email %>
<%= link_to "Edit My Credentials" , edit_user_path %>

<h4><%= link_to "All Jobs" , user_jobs_path(current_user) %></h4>

<%= render 'ships/myships' %>

<%= render 'jobs/myjobs' %>


