<div class="container">

<h1>Edit <%= @ship.ship_name.capitalize %></h1>

<%= form_for @ship , :html => { :multipart => true , :class => "form-horizontal-center" } do |f| %>
	<fieldset class="form-group">
		<%= f.label :ship_name %>
		<%= f.text_field :ship_name %>
	</fieldset>
	<fieldset class="form-group">
		<%= f.label :container_qty %>
		<%= f.text_field :container_qty %>
	</fieldset>
	<fieldset class="form-group">
		<%= f.label :current_location %>
		<%= f.select :current_location , [['Beirut','beirut'],['Naples','naples'],['Singapore','singapore']]%>
	</fieldset>
	<fieldset class="form-group">
		<%= f.label :avatar %>
		<%= f.file_field :avatar , class: "upload" %>
	</fieldset>
	<%= f.submit "Edit Ship" , class: "btn btn-primary" %>

<% end %>

<%= link_to "Delete Ship" , @ship , method: :delete , class: "btn btn-danger" %>
</div>
